<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TELS Maintainence App</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body></body>

<p>
  For emergency requests, e.g. plumbing issues, gas smells, etc., please call a
  staff member.
</p>
<form
  method="post"
  data-parsley-validate
  action="http://localhost:8080/api/tels/v1/workOrders"
>
  <div class="form-group">
    <label for="Description">Work Order Title</label>
    <span class="text-muted small"
      ><br />Write a 2-3 word title for your request here. Ex: Plumbing Concern,
      Electrical Concern, HVAC Concern</span
    >
    <input
      required
      data-parsley-required-message="Subject is required."
      name="workorder[Description]"
      class="form-control"
      id="Description"
      data-parsley-maxlength="100"
      data-parsley-maxlength-message="Please shorten your subject to continue."
      data-parsley-errors-container="#Description_error_container"
    />
    <p
      class="character_limit_label text-right small"
      id="js-character-limit-label"
    ></p>
    <p id="Description_error_container"></p>
  </div>

  <div class="form-group">
    <label for="Details">Work Order Details</label>
    <span class="text-muted small"
      ><br />Please include all details about your work order request here,
      including the room in your unit where the issue is.</span
    >
    <textarea
      required
      data-parsley-required-message="Work Order Details are required."
      name="workorder[Details]"
      rows="5"
      class="form-control"
      id="Details"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="location">Maintenance Location</label>
    <input
      name="workorder[LocationDescription]"
      required
      data-parsley-required-message="Maintenance Location is required."
      value=""
      placeholder="Apt no. or area where work is needed"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <div><label>Staff May Enter if No One is Home</label></div>
    <div class="btn-group permission-to-enter" data-toggle="buttons">
      <label class="btn btn-default" id="allowed-to-enter">
        <input
          type="radio"
          name="workorder[PermissionToEnter]"
          autocomplete="off"
          value="true"
        />
        Yes
      </label>
      <label class="btn btn-danger active" id="not-allowed-to-enter">
        <input
          checked
          type="radio"
          name="workorder[PermissionToEnter]"
          autocomplete="off"
          value="false"
        />
        No
      </label>
    </div>
  </div>

  <div class="form-group">
    <label for="entry-notes">Instructions Upon Entry</label>
    <textarea
      name="workorder[EntryComments]"
      class="form-control"
      id="entry-notes"
    ></textarea>
  </div>

  <div class="text-right">
    <a href="" class="js-dismiss-modal btn btn-cancel">Cancel</a>
    <button type="button" id="js-submit-workorder" class="btn btn-success">
      Submit
    </button>
  </div>
</form>
</body>
</html>